<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='static/css/main.css' rel='stylesheet' type='text/css'>
    
</head>
<body>
    <div>
        <h1>Hey nigga! This is Saranga's first trial chatbot</h1>
    </div>

    <div class="wrap-element">
    <iframe
    class="wrapped-iframe"
    allow="microphone;"
    
    src="https://console.dialogflow.com/api-client/demo/embedded/2dd1c470-a61a-430b-ae4c-f71463ffa0a8">
</iframe>
</div>
</body>
</html>